/*VERSION MOBILES*/

*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

h1{font-size: 3.5em; font-family: 'IBM Plex Sans', sans-serif;}
h2{font-size: 2.7em; font-family: 'IBM Plex Sans', sans-serif;}
h3{font-size: 2em;   font-family: 'IBM Plex Sans', sans-serif;}
p{font-size: 1.25em;}
ul{list-style-type: none;}
li{font-size: 1.25em;}


button{
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: rgb(58, 58, 251);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0);
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

button:hover{
  background-color: rgb(78, 78, 253);
  transform: scale(1.05);
  box-shadow: 4px 4px 20px rgba(180, 180, 180, 0.7);
}

button:hover::before {
  top: 50%;
  left: 50%;
  opacity: 1;
}

button:active {
  transform: scale(0.95);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 1400px;
  margin:auto;
}

header{background-color: rgb(245,245,245);}

header .logo{ 
    margin: 0; 
    padding: 5px 30px;
    width: 135px;
}


/*Para centrar toda la barra de navegación*/
header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

header a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover{
  color: rgb(36, 36, 229);
}

.spain{
  padding-top: 25px;
}

header{
  z-index: 9999;
  transition: opacity 0.3s ease;
}



#hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.8),
      rgba(0,0,0,0.8)
  ), url("assets/images/fondo-main.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1{ 
  color: white; font-size: 2.8em;
  padding-right: 30px;
  padding-left: 30px;
}


#hero p {
  color: white; 
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 40px;
}

#hero button{
    font-size: 1.75em;
}




/*Estilos para el Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 30px;
  transition: background-color 1s;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 1s;
}

input:checked + .slider {
  background-color: #65e869;
  transition: background-color 1s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #65e869;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider:before {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 0.4s;
}




/*Estilo para botón del DarkMode*/
#dark-mode-button {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#dark-mode-button img {
  width: 75px;
  height: 48px;
  margin-right: 5px;
  padding-bottom: 18px;
}

.ingles{
  padding-bottom: 25px;
}




/*Beneficios*/
#beneficios-techsos{
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  text-align: center;
}

#beneficios-techsos h2{
  color: rgb(0, 0, 0);
}

#beneficios-techsos .container{
 /*padding: 150px 12px;*/
  padding: 200px 0 12px 12px
}

#beneficios-techsos h2 {
  margin-top: 0;
  font-size: 2.0em;
}

#beneficios-techsos p {
  color: rgb(0, 0, 0);
  margin-top: 0;
  font-size: 1.5em;
}


#beneficios-techsos  .carta{
  background-size: cover;
  background-position: center center;

  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}

/*Selecciona la primer "carta" de las 3 creadas*/
.carta:first-child {
  /*Aplicando el gradiente - Overlay*/
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
  ), url('assets/images/benefit-seguro-crop.png');
}

/*Selecciona la segunda "carta" de las 3 creadas*/
.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
  ), url("assets/images/benefit-map-crop.png");
}   

/*Selecciona la segunda "carta" de las 3 creadas
.carta:nth-child(3) --> da el mismo resultado*/
.carta:last-child {
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
  ), url("assets/images/benefit-status-crop.png");
}

.beneficios{
  text-align: center;
  padding: 20px 1px;
}

.beneficios li{
  padding: 15px 0px;
  font-weight: bold;
  margin-left: -25px;
}

.beneficios li::before {
  content: "\2714"; /* Código del emoji de checkmark */
  color: rgb(137, 255, 137); /* Color del emoji */
  margin-right: 5px; /* Espacio entre el emoji y el texto */
}





/*Precios*/
#precios-techsos{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
}

#precios-techsos .container{
  padding: 200px 0 12px 12px
}

#precios-techsos h2 {
  margin-top: 0;
  padding-bottom: 30px;
  font-size: 2.0em;
}


#precios-techsos  p {
  
  /*display: none;*/
  padding-bottom: 40px; 
}

#precios-techsos .carta2{
  background-size: cover;
  background-position: center center;

  padding: 50px;
  margin: 20px;
  border-radius: 10px;
}

.carta2:first-child {
    background-image: linear-gradient(
        0deg,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
    ), url("");

    border-radius: 5px;
    border: 2px solid rgba(178, 178, 178, 0.522);
}

.carta2:nth-child(2) {
    background-image: linear-gradient(
      0deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255)
  ), url("");

  border-radius: 5px;
  border: 2px solid rgba(178, 178, 178, 0.522);
}   

.carta2:last-child {
    background-image: linear-gradient(
      0deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255)
  ), url("");

  border-radius: 5px;
  border: 2px solid rgba(178, 178, 178, 0.522);
}

.precios .carta2:first-child button{
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  background-color: rgba(2, 238, 85, 0.522);
}

.precios .carta2:nth-child(2) button{
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  background-color: rgb(238, 228, 134);
}


.precios .carta2:last-child button{
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  background-color: rgba(109, 176, 227, 0.654);
}

/*Personalización de título de los precios*/
.precios .carta2:first-child h3{
  color: rgba(0, 199, 70, 0.878);
}

.precios .carta2:nth-child(2) h3{
  color: rgb(224, 210, 78);
}

.precios .carta2:last-child h3{
  color: rgba(81, 155, 211, 0.654);
}


/*Personalización de botones*/
.precios .carta2:first-child button:hover{
  font-size: 1.50em;
  background-color: rgba(0, 255, 89, 0.495);
}

.precios .carta2:nth-child(2) button:hover{
  font-size: 1.50em;
  background-color: rgb(255, 244, 142);
}


.precios .carta2:last-child button:hover{
  font-size: 1.50em;
  background-color: rgba(147, 208, 255, 0.654);
}


/*Personalización de bordes*/
.carta2:first-child:hover {
  border: 3px solid rgba(54, 224, 114, 0.495);
}

.carta2:nth-child(2):hover{
  border: 3px solid rgb(243, 232, 134);
}   

.carta2:last-child:hover {
  border: 3px solid rgba(124, 185, 231, 0.654);
}








/*Acerca De*/
#acerca-techsos .container{
  text-align: center;
  padding: 200px 0 12px 12px   
}

#acerca-techsos p {
  padding: 30px 50px; 
}


#acerca-techsos iframe{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  height: 40vh;
}

#acerca-techsos iframe:hover{
  opacity: 0.9; 
}

#acerca-techsos .logos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#acerca-techsos .logos img{
  width: 200px; 
  margin: 10px;
}

#acerca-techsos .logos .play-store:hover{
  opacity: 0.8; /* Reducir la opacidad al 80% */
  transform: scale(1.1); /* Aumentar la escala al 110% */
}

#acerca-techsos .logos .app-store:hover{
  opacity: 0.8; /* Reducir la opacidad al 80% */
  transform: scale(1.1); /* Aumentar la escala al 110% */
}








/*Testimonios*/

#testimonios-techsos {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
}

#testimonios-techsos .container {
  padding: 200px 0 12px 12px;
  width: 80%;
}

#testimonios-techsos h2 {
  margin-top: 0;
  font-size: 2.2em;
}

#testimonios-techsos .carta3 {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(38, 38, 38, 0.838);

  /*Transición*/
  transition: transform 0.3s ease;
}

#testimonios-techsos .carta3 .image-person {
  width: 200px;
  height: 90px;
  border-radius: 70%;
  overflow: hidden;
  margin-right: 20px;
}

#testimonios-techsos .carta3 .image-person img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#testimonios-techsos .carta3 .comentario h3,
#testimonios-techsos .carta3 .comentario p {
  margin: 0;
  color: rgb(255, 255, 255);
}

#testimonios-techsos .carta3 .comentario h3 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px;
}

#testimonios-techsos .carta3 .comentario p {
  font-size: 0.9em;
}

#testimonios-techsos .carta3 .comentario .rol {
  font-size: 0.9em;
  font-weight: bold;
}

#testimonios-techsos .carta3 p:last-child {
  margin-top: 10px;
}

#testimonios-techsos .carta3:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px rgb(198, 198, 198);
}



/*Contacto*/
#contacto-techsos .container {
  text-align: center;
  padding: 200px 0 12px 12px
}

#contacto-techsos .title-container {
  text-align: center;
  margin-bottom: 30px;
}

label{
  padding: 10px;
}
#contacto-techsos h2 {
  margin-top: 0;
  font-size: 2.2em;
}

#contacto-techsos p {
  font-size: 1.1em;
}

#contacto-techsos .formulario-techsos {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contacto-techsos .image-container {
  display: none;
  /*
  max-width: 100%;
  height: auto;*/
}

.formulario-techsos .form-container {
  flex: 1;
  padding-right: 50px;
  display: flex;
  justify-content: center;
}


.formulario-techsos .image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario-techsos .form {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 2px 6px rgba(80, 80, 80, 0.5);
  transition: transform 0.3s ease;
}

.formulario-techsos .form:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(0, 57, 110, 0.5);
}

.form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #489af8; /* Color del título del formulario */
}

.form-label {
  display: block;
  margin-bottom: 5px;
}


.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: #1968d6; /* Color del borde al enfocar el campo de entrada */
}

.btn-submit {
  background-color: #1e488b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn-submit:hover {
  background-color: #5ea8ce; 
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}


.formulario-techsos {
  display: flex;
  align-items: center;
}

.form-container {
  flex: 1;
  padding-right: 50px;
}

.form {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
}






/*Sobre Nosotros*/
#nosotros-techsos .container {
  text-align: center;
  padding: 200px 12px; 
}

#nosotros-techsos h2 {
  margin-top: 0;
  font-size: 2.2em;
  color: #000000; /* Color del título */
}

#nosotros-techsos  iframe{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 40vh;
}

#nosotros-techsos  iframe:hover{
  opacity: 0.9; 
}




/*Footer*/
#footer-techsos {
  background-color: rgba(41, 81, 155, 0.767);
  text-align: center;
  padding: 30px 0;
}

.container-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-image-footer {
  width: 150px; /* Ajusta el tamaño del logo según tus preferencias */
}

.column2,
.column3,
.column4 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.column2 label{
  color: white;
}


.column4 {
  max-width: 400px;
  display: inline-block;;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nets,
.download-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social-download {
  margin-top: 20px;
}

.social-download > div {
  margin: 10px;
}

.options {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options li {
  margin-bottom: 10px;
}

.options li:hover {
  font-weight: bold;
}

.options li a {
  color: white;
  text-decoration: none;
}

.nets li {
  display: inline-block;
  margin: 0 10px;
}

.play-store {
  margin-top: 10px;
}

.title {
  color: white;
  font-weight: bold;
}








/*VERSION Desktop*/
/*Cuando el ancho de la pantalla supere los 720px 
se aplicarán los siguientes cambios.*/

@media (min-width: 720px) {

  header{
    /*para que al navegar se mantenga 
    la barra de navegación quieta*/
    position: fixed;
    width: 100%;
  }

  header .container{
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  header nav a {
    font-size: 20px; /* Ajusta el tamaño de fuente según tus preferencias */
  }

  .spain{
    padding-top: 5px;
    margin-left: 15px;
  }

  .switch {
    margin-left: 1px; /* Ajusta el margen izquierdo según tu preferencia */
    margin-right: 2px; /* Ajusta el margen izquierdo según tu preferencia */
    margin-top: 5px;
  }

  #hero {
    height: 115vh; /*para que se vea mejor la imagen*/
  }

  #hero h1{
    font-size: 5em;
  }

    



  /*Beneficios*/
  #beneficios-techsos .beneficios {
    display: flex;
    justify-content: center;
  }
  
  #beneficios-techsos p {
    display: block;
    margin-bottom: 30px;
  }
  
  #beneficios-techsos h2 {
    font-size: 4em;
  }
  
  #beneficios-techsos h3 {
    margin-top: 0;
  }
  
  #beneficios-techsos .carta {
    padding: 80px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center; /* Centra las imágenes verticalmente */
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carta:first-child {
    background-image: url("assets/images/benefit-seguro-crop.png");
  }
  
  .carta:nth-child(2) {
    background-image: url("assets/images/benefit-map.png");
  }
  
  .carta:last-child {
    background-image: url("assets/images/benefit-status.jpg");
  }
  
  .carta ul {
    margin-top: 210px;
    padding: 0;
    list-style-type: none;
  }
  
  .carta ul li {
    color: black;
    margin-bottom: 10px;
  }




  /*Precios*/
  #precios-techsos .precios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #precios-techsos .container{
    padding: 400px 0 12px 12px
  }
    
  #precios-techsos .carta2 {
    padding: 40px;
    background-color: rgba(50, 50, 50, 0.5);
    flex: 1 1 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
  }

  #precios-techsos .carta2:hover {
    transform: scale(1.05); /* Ejemplo de animación al hacer hover */
  }

  #precios-techsos .carta2:first-child:hover {
    box-shadow: 2px 2px 10px rgba(54, 224, 114, 0.495);
  }

  #precios-techsos .carta2:nth-child(2):hover {
    box-shadow: 2px 2px 10px rgba(243, 232, 134, 0.495);
  }

  #precios-techsos .carta2:last-child:hover {
    box-shadow: 2px 2px 10px rgba(124, 185, 231, 0.654);
  }

    
  #precios-techsos h2 {
    font-size: 2.5em;
  }
  
  #precios-techsos p {
    margin-bottom: 15px;
  }
  
  #precios-techsos .carta2 button {
    margin-top: auto; /* Alinea el botón al final de la carta */
  }






  /*Acerca de*/
  #acerca-techsos .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  #acerca-techsos h2 {
    text-align: center;
    width: 100%;
  }
  
  #acerca-techsos .aboutTheApp-video {
    flex-basis: 50%;
  }
  
  #acerca-techsos .texto {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
  }

  #acerca-techsos .texto h2 {
    margin-bottom: 20px;
  }

  
  #acerca-techsos p{
    padding: 30px 30px; 
  }
  
  #acerca-techsos iframe{
    height: 50vh;
  }



  #acerca-techsos .logos {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    gap: 15px; /* Espacio entre los logos */
  }
  
  #acerca-techsos .logos img {
    max-width: 100%;
  }
  
  #acerca-techsos .logos .play-store {
    margin-left: 470px;
  }

    
  #acerca-techsos .logos .app-store {
    margin-right: 400px;
  }
  
  @media (max-width: 1250px) {
    #acerca-techsos .logos {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }

    #acerca-techsos .logos .play-store {
      margin-left: 0;
    }
  
      
    #acerca-techsos .logos .app-store {
      margin-right: 0;
    }
    
    #acerca-techsos .logos img {
      max-width: 100%;
      margin: 0 5px;
    }
    
    #acerca-techsos .play-store {
      margin-right: 5px; 
    }
  }



  /* Testimonios */
  #testimonios-techsos .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #testimonios-techsos h2 {
    margin-bottom: 20px;
  }

  #testimonios-techsos .testimonios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las cartas de testimonio */
  }

  #testimonios-techsos .carta3 {
    flex-basis: 400px;
    background-color: rgba(58, 58, 58, 0.838);
    padding: 20px;
    border-radius: 10px;
  }

  #testimonios-techsos .carta3 .image-person {
    width: 200px;
    height: 90px;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 20px;
  }
  
  #testimonios-techsos .image-person img {
    width: 100%;
    border-radius: 60%;
    object-fit: cover;
  }



  #testimonios-techsos .comentario h3 {
    margin-top: 10px;
  }

  #testimonios-techsos .comentario p {
    margin-bottom: 10px;
  }





  /* Contacto */
  #contacto-techsos .formulario-techsos {
    justify-content: space-between; /* Alinear el formulario y la imagen en los extremos */
  }
  
  #contacto-techsos .image-container {
    flex: 1; /* Ocupar la mitad del ancho disponible */
    display: flex; /* Mostrar la imagen */
    justify-content: flex-end; /* Alinear la imagen a la derecha */
  }
  
  #contacto-techsos .form-container {
    flex: 1; /* Ocupar la otra mitad del ancho disponible */
    padding-right: 50px; /* Espacio derecho para separar el formulario de la imagen */
  }

  #contacto-techsos .image-container img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al tamaño del contenedor */
    height: auto; /* Mantiene la proporción de aspecto original de la imagen */
  }
  
  #contacto-techsos p{
    padding-bottom: 10px;
  }



  /* Nosotros */
  #nosotros-techsos  iframe{
    padding: 0 20px;
    width: 70%;
    height: 60vh;
  }
   


  /* Footer */
  .container-body {
    flex-direction: row;
  }

  .column1 {
    flex-basis: 25%;
  }

  .column2,
  .column3,
  .column4 {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .row img {
    margin-right: 10px;
  }

  .column4 .title {
    margin-bottom: 10px;
  }

  .nets {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  .nets li {
    margin-right: 10px;
  }

  .download-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-right: 120px;
  }

  .download-footer li {
    margin-left: 10px;
  }
}