
.dark-mode header{
    background-color:  #2a2a2a;
}

.dark-mode header .logo{ 
    /*filter: brightness(35%) invert(100%);*/
    opacity: 0.9;
}

.dark-mode header a{
    color: rgb(255, 255, 255,0.8);
}

.dark-mode header a:hover{
    color: rgba(146, 146, 255, 0.929);
}

.dark-mode #dark-mode-button{
    filter: invert(1); 
}

.dark-mode #hero h1{ 
    color: rgb(255, 255, 255,0.9);
}



/*Beneficios*/
.dark-mode #beneficios-techsos{
    background-color: #202020;
    color: #2a2a2a;
}

.dark-mode #beneficios-techsos h2{
    color: rgb(255, 255, 255,0.7);
}

.dark-mode #beneficios-techsos p{
    color: rgb(255, 255, 255,0.7);
}

.dark-mode .beneficios li{
    color: rgb(255, 255, 255,0.7);
}

.dark-mode #beneficios-techsos .carta{
    padding-bottom: 50px;
    background-color: rgba(255, 255, 255, 0);  
}

@media (min-width: 720px) {

    .dark-mode .carta:first-child{
        background-image: url("assets/images/benefit-seguro-darkmode.png")
    }

    .dark-mode .carta:last-child{
        background-image: url("assets/images/benefit-status-darkmode.png")
    }
}






/*Precios*/
.dark-mode #precios-techsos{
    background-color: #202020;
}
  
.dark-mode #precios-techsos h2 {
    color: rgb(255, 255, 255,0.7);
}

.dark-mode #precios-techsos  p {
    color: rgb(255, 255, 255,0.7); 
}


.dark-mode .carta2:first-child {
    background-image: linear-gradient(
        0deg,
        rgb(53, 53, 53),
        rgb(53, 53, 53)
    ), url("");

    border: 2px solid rgba(178, 178, 178, 0.522);
}

.dark-mode .carta2:nth-child(2) {
    background-image: linear-gradient(
      0deg,
      rgb(53, 53, 53),
      rgb(53, 53, 53)
  ), url("");

  border: 2px solid rgba(178, 178, 178, 0.522);
}   

.dark-mode .carta2:last-child {
    background-image: linear-gradient(
      0deg,
      rgb(53, 53, 53),
      rgb(53, 53, 53)
  ), url("");

  border: 2px solid rgba(178, 178, 178, 0.522);
}


.dark-mode  .precios .carta2:first-child button{
    color: rgb(82, 82, 82);
    background-color: rgb(255, 255, 255,0.7);
}
  
.dark-mode .precios .carta2:nth-child(2) button{
    color: rgb(82, 82, 82);
    background-color: rgb(255, 255, 255,0.7); 
}
  
  
.dark-mode .precios .carta2:last-child button{
    color: rgb(82, 82, 82);
    background-color: rgb(255, 255, 255,0.7);
}


/*Personalización de título de los precios*/
.dark-mode .precios .carta2:first-child h3{
    color: rgb(255, 255, 255,0.7);
}
  
.dark-mode .precios .carta2:nth-child(2) h3{
    color: rgb(255, 255, 255,0.7);
}
  
.dark-mode .precios .carta2:last-child h3{
    color: rgb(255, 255, 255,0.7);
}


/*Personalización de bordes*/
.dark-mode .carta2:first-child:hover {
    border: 2px solid rgb(255, 255, 255,0.7);
}
  
.dark-mode .carta2:nth-child(2):hover{
    border: 2px solid rgb(255, 255, 255,0.7);
}   
  
.dark-mode .carta2:last-child:hover {
    border: 2px solid rgb(255, 255, 255,0.7);
}




/*Acerca De*/
.dark-mode #acerca-techsos{
    background-color: #202020;
    color: rgb(255, 255, 255,0.7); 
}
.dark-mode #acerca-techsos .logos img{
    filter: invert(100%);
    opacity: 0.9;
}

.dark-mode #acerca-techsos .logos .play-store:hover{
    filter: invert(100%);
}
  
.dark-mode#acerca-techsos .logos .app-store:hover{
    filter: invert(100%);
}




/*Testimonios*/

.dark-mode #testimonios-techsos {
    background-color: #202020;
    color: rgb(255, 255, 255,0.7); 
}

.dark-mode #testimonios-techsos .carta3 {
    background-color: rgba(94, 94, 94, 0.838);
}

.dark-mode #testimonios-techsos .carta3 .comentario h3,
#testimonios-techsos .carta3 .comentario p {
  margin: 0;
  color: rgba(255, 255, 255,0.8);
}

#testimonios-techsos .carta3:hover {
    box-shadow: none;
}


/*Contacto*/
.dark-mode #contacto-techsos {
    background-color: #202020;
    color: rgb(255, 255, 255,0.7); 
}

.dark-mode .form h1 {
    color: rgb(255, 255, 255,0.9); 
}

.dark-mode .formulario-techsos .form {
    background-color: #555555;
    box-shadow: none;
}


.dark-mode .btn-submit {
    color: rgb(82, 82, 82);
    background-color: rgb(255, 255, 255,0.7);
}

.dark-mode .btn-submit:hover {
    background-color: rgb(236, 236, 236);
}




/*Sobre Nosotros*/
.dark-mode #nosotros-techsos {
    background-color: #202020;
}
.dark-mode #nosotros-techsos h2 {
    color: rgb(255, 255, 255,0.7); 
}


/*Footer*/
.dark-mode #footer-techsos {
    background-color: #2a2a2a;
}

@media (min-width: 720px) {
    .dark-mode #precios-techsos .carta2:first-child:hover {
        box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7);
    }
    
    .dark-mode #precios-techsos .carta2:nth-child(2):hover {
        box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7);
    }
    
    .dark-mode #precios-techsos .carta2:last-child:hover {
        box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7);
    }
}